In [2]:
import mysql.connector
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

conn = mysql.connector.connect(user='root', password='1234',
                              host='localhost',
                              database='cursomc')

data = """SELECT * FROM categoria"""

acessos = pd.read_sql_query(data, con=conn)

print(acessos)

conn.close()

   id               nome
0   1        Informática
1   2         Escritório
2   3  Cama mesa e banho
3   4        Eletrônicos
4   5         Jardinagem
5   6          Decoração
6   7         Perfumaria